asyncudp==0.11.0
pyvips==3.1.1
raygeo @ git+https://github.com/ens1/raygeo.git@5663bec8c5d47ebb7f3f09d6df0658f5bdac8583
ruida-re @ git+https://github.com/ens1/ruida-re.git@4af8e1cf0be2b4a12c6ffb0fc0d05ecccba4ac0f
trimesh==5.0.0
vtracer==0.6.15
